<!DOCTYPE html>
<html lang="pt-BR">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tela de Cadastro</title>
    <link rel="stylesheet" href="{% static 'css/login_cadastro.css' %}">
</head>
<body>
    <div class="login-container">
        <img src="{% static 'img/r.png' %}" alt="Logo" class="logo">
        <h1 class="login-title">Crie sua conta</h1>

        <form class="login-form" method="POST" action="{% url 'cadastro' %}">
            {% csrf_token %}
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" placeholder="Digite seu email" required>
            
            <label for="password">Senha:</label>
            <input type="password" id="password" name="password" placeholder="Digite sua senha" required>
            
            <label for="cep">Cep:</label>
            <input type="text" id="cep" name="cep" placeholder="Digite seu cep" required>
            
            <button type="submit">Registrar</button>
            {% if messages %}
    <div class="messages">
        {% for message in messages %}
            {% if message.tags == 'error' %}
                <span style="color:red" class="error">{{ message }}</span>
            {% endif %}
        {% endfor %}
    </div>
{% endif %}
        </form>
        <p class="register-link">Já possui conta? <a href="{% url 'login' %}">Login</a></p>
    </div>
    <script src="{% static 'js/main_cadastro.js' %}"></script>
</body>
</html>
